html {
    background: url(http://unsplash.it/1500/1000?image=881&blur=50);
    background-size: cover;
    font-family: "helvetica neue";
    text-align: center;
    font-size: 10px
}

body {
    font-size: 2rem;
    min-height: 100vh;
    align-items: center
}

h1 {
    padding: 40px 0 60px 0;
}

.clock {
    display: flex;
    flex: 1;
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    /* transform the origin to rotate on the far-right*/
    transform-origin: 100%;
    transform: rotate(90deg);
    /* tick itself around */
    transition: all .05s;
    /* ticking animation */
    transition-timing-function: cubic-bezier(0.29, 0.76, 0.58, 1);
  }

  .hour-hand {
    width: 90px;
    left: 19.8%
  }

  .min-hand {
    width: 130px;
    left: 7%
  }

  .second-hand {
      height: 3px;
  }
